<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(function() {
      $("#brasilsilsil").click(function() {
          $.post("/brasilsilsil");
      });

      $("#errou").click(function() {
          $.post("/errou");
      });
  });
</script>
<h1>Toque pra zuar</h1>
<img id="brasilsilsil" src="brasilsilsil.jpg"/></a>
<br/>
<img id="errou" src="errou.jpg"/>
